<span></span>
<h2 id="transactionsSubtitle" class="text-center">Transactions</h2>

<kendo-grid
  [kendoGridBinding]="transactions"
  [height]="410"
  id="detailsKendoGrid"
  filterable="menu"
  [sortable]="true"
>
  <kendo-grid-column field="id" title="Id" width="60" [filterable]="false">
  </kendo-grid-column>
  <kendo-grid-column
    field="createdAt"
    title="Created Date"
    format="{0: dd/MM/yyyy h:mm a }"
    width="180"
    filter="date"
  >
  </kendo-grid-column>
  <kendo-grid-column field="entity" title="Entity" width="140">
  </kendo-grid-column>
  <kendo-grid-column
    field="amount"
    title="Price"
    width="100"
    filter="numeric"
    format="{0:c}"
  >
  </kendo-grid-column>
  <kendo-grid-column field="type" title="Type" width="100"> </kendo-grid-column>
  <kendo-grid-column field="source" title="Source" width="120">
  </kendo-grid-column>
  <kendo-grid-column field="classification" title="Classification" width="140">
  </kendo-grid-column>
  <kendo-grid-command-column title="Tap to Classify" width="160">
    <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
      <span *ngFor="let classificationType of classificationTypes">
        <a
          id="{{
            'classify_' + classificationType.name + '_' + rowIndex + '_btn'
          }}"
          href="#/"
          role="button"
          aria-pressed="true"
          class="btn btn-small text-dark"
          (click)="onClickClassifyBtn(rowIndex, classificationType.name)"
        >
          <fa-icon [icon]="classificationType.icon" size="s"></fa-icon>
        </a>
      </span>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>
