<div class="text-center mt-4 mb-2">
  <button id="showChartBtnId" type="button" class="btn btn-primary" (click)="showChartsClickButton()">
    Show Charts
  </button>
</div>

<div id="topExpensesMonthlyChart" [hidden]="!hasToShowCharts">
  <kendo-chart>
    <kendo-chart-title text="Top 5 Expenses of Last Month - March 2020"></kendo-chart-title>
    <kendo-chart-series>
      <kendo-chart-series-item type="column" [data]="seriesData" field="amount" categoryField="entity">
      </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>
</div>